
#meter_bar {
	background-color: #b24d3c;
	height:12px;
	border:1px solid #949494;
	/* width will be defined in the block specific settings because we need it for calculations*/
	/* this attempt so requires no js*/	
}

#points-left {
	background-color: #59891c;
	height:12px;
}

#points_text {
	z-index:99;
	position:absolute;
	color: #ffffff;
	font-size:10px;
	bottom:0px;
	left:50%;
}
